.head{
	text-align: center;
	background-color: steelblue;
	padding: 10px;
	margin: 30px 0;
	border-radius: 10px;
	width: auto;
	word-spacing: 15px;
}

.white{
	color: #fff;
}

h1{
	display: inline-block;
}

.body{
	text-align: center;
	width: auto;
}



.odd{
	background-color: #232323;
	width: 50px;
	min-height: auto;
}

.even{
	background-color: #f2f2f2;
	min-width: 50px;
	min-height: auto;
}
/*#container{
	margin: 8px auto;
	width: 35%;
	background: rgba(50,50,50,0.3);
	height: 320px;
}
*/
/*.square{
	width: 32%;
	height: 31.7%;
	float: left;
	margin: 0.66%;
	font-size: 50px;
	line-height: 112px;
	text-align: center;
	color: steelblue;
	background: #f7f7f7;
	cursor: pointer;
}

.square:nth-child(2n){
	background: #e1e1e1;

}*/